.results-page-box1 {
    display: flex;
    flex-direction: column;
    height: 15vh;
    marginLeft: 15rem;
    padding-bottom: 2rem;
    align-items: center;
    border-radius: 1rem;
}

.results-page-box2 {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 1rem;
    height: 55vh;
    margin: 1rem;
    background-color: pink;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.results-page-box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*margin-top: 2rem;*/
    height: 30vh;
    padding: 1rem;
    margin: 1rem;
    background-color: transparent;
    border-radius: 1rem;
}

.search-another-question-button {
margin-top: auto;
margin-bottom: 2rem;
align-items: center;
background-color: #1c0101;
border: 0;
border-radius: 100px;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: inline-flex;
font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu,
Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
"Lucida Grande", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 600;
justify-content: center;
line-height: 20px;
width: 30rem;
height: 5rem;
overflow: hidden;
padding: 0px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
touch-action: manipulation;
transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
}

search-another-question-button:hover,
search-another-question-button:focus {
    background-color: #8f084f;
    color: #ffffff;
}

search-another-question-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

search-another-question-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}
